*{
    margin: 0;
}

#d1{
background-color: green;
height: 160px;
width: 1366px;
border: solid red 2px;
}

#h1{
    color: red;;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 80px 500px;
    width: 250px;
    height: 10px;
    border: 2px solid gray;
    background-color: gray;
    border: 2px solid gray;
    padding-top: 10px;
}
#d2{
background-color: yellow;
height: 308px;
width: 1366px;
border: solid red 2px;
}

#d3{
background-color: darkred;
height: 1%;
width: 1366px;
padding-top: 10px;
margin: 5px 2px;
font-size: 10px;
text-align: left top ;
}

#d4{
background-color: purple;
height: 12px;
width: 150px;
padding-top: 30px;
margin: 5px 2px ;
font-size: 10px;;
text-align: left top;

}

#d5{
background-color: blue;
height: 12px;
width: 200px;
padding-top: 30px;
 margin:5px 2px;
 font-size: 10px;
text-align: left ;
}

#d6{
background-color: red;
height: 12px;
width: 170px; 
padding-top: 30px;
margin: 2px 220px;
font-size: 10px;
text-align:left;
}
#d7{
background-color: lightgreen;
height: 10px;
width: 220px;
padding-top: 30px;
margin: 2px 410px ;
font-size: 10px;
text-align: top left;
}
#d8{
background-color: white;
height: 20px;
width: 1366px;
border: solid red 2px;
}
#d9{
    text-align: center;
    background-color:red;
    height: 1%;
    width: 1366px;
    border: solid red 2px;
}

#d10{
    background-color: greenyellow;
height: 20px;
width: 1366px;

}