.box{
    background-color: aquamarine;
    height: 600px;
    display: grid;
    grid-template-areas: "titulo titulo titulo"
                        "menuL conteudo rodape";
                    
     grid-template-rows: 50px 1fr;
     grid-template-columns: 1fr 1fr 1fr;               
                    }
    .titulo{
    background-color: aqua;
    grid-area: titulo;
    }
    .menuL{
    background-color: blueviolet;
    grid-area: menuL;
    }
    .conteudo{
    background-color: palevioletred;
    grid-area: conteudo;
    }
    .rodape{
        background-color: lightpink;
        grid-area: rodape;
    }