*{
    margin: 0;
}
#div{
    background-color: blue;
    opacity: 0.6;
    width: 1fr;
    border: solid black 2px;
    background-image: url("img01.png");
    background-repeat: no-repeat;
    background-position: 830px  ;
    background-attachment: scroll;
    background-size: 100px;
}

#d1{
background-color: blue;
height: 8000px;
width: 1fr;
}
#img{
    border: solid black 2px;
    width: 100px;
    height: 80px;
    padding: 6px;
    background-size: 100px ;
    background-image: url("img01.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    margin-left: 390px; 
}