*{
    margin: 0;
}
.box{
    background-color: lightpink;
    text-align: center;
    height: 500px;
    display: grid;
    grid-template-areas: "t t "
                        "c  l"
                        "r r ";
   grid-template-rows: 100px 1fr 90px;
   grid-template-columns: 1fr 200px;  
}
.header{
    grid-area: t;
    background-color: pink;
   
}
.conteudo{
    grid-area: c;
    background-color: lightblue;

}
.lateral{
    grid-area: l;
    background-color: aquamarine;
   
}
.rodape{
    grid-area: r;
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
 
}

.p1, .p2, .p3{

    width: 33.33%;
    height: 100%;
    background-color: rgb(255, 158, 206);
    
}
.p2{
    background-color: rgb(255, 146, 201);
}

.c1, .c2, .c3{

    width: 100%;
    height: 33.33%;
    background-color: plum;
}
.c2{
    background-color: darkorchid;
}
